#tekstikast {
    color: blue;
    background-color: green;
    border: 20px;
    padding: 20px;
    width: 150px;
    height: 25px;
}

#bigAssTaht {
    font-size: 85px;
}
/*#655a7c,#a97699,#d5978a,#dec4b6,#96b3b9