<!DOCTYPE html> <!-- Siin kuvame lehe, mis ilmub taskbaril "Meist" all -->
<html lang="en">
  <head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tipist</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">  
    <div style="font-size: 20px">Nüüdsest rakendus, mis aitab paremini klaviatuuriga kirjutama õppida. (päris) (mitte klikiõngitsus)
      (Internetikasiino oleks nii palju lõbusam olnud :( )
      
      Koodi käivitamine liiga keeruline ei ole. Kood tuleb panna nii nagu ta on kõik ühte kausta kokku, säilitades GitHubis olev struktuur.<br>
      Seejärel lihtsalt jooksuta app.py koodikest ja ava oma browseris https://localhost:5000 <br>
      Kui midagi ei tööta kontrolli flaski olemasolu. https://flask.palletsprojects.com/en/stable/<br>
      <br>
      Uhkusega tõenäoliselt ainus tehisarukoodivaba projekt mis siin tekkis. 🫡<br>
      Selle valmistamisel tarbiti ilmselt rohkem milligramme kofeiini kui kirjutati ridu.<br>
      <br>
      klava.html on olemas vaid tänu u poolele grammile kofeiinile. Ei, ma ei tea miks ja kuidas see töötab.</div>
</html>