<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tipist</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <style></style>
  </head>
  <body>
    <div class="toast-container" id="toastContainer"></div>
    <div>
      <div class="hoidla">
        <div id = "tase" class ="olekeskelPALUN">t3</div>
      </div>
    </div>
    <div class ="container">
      <ul class="ul">
        <button onclick="this.blur(); generatsioon()" class="prettybutton">Alusta</button>
      </ul>
    </div>
    <h1 id="output" style="font-size: 45px;">&nbsp;</h1>
    <div id="taheHoidja"><div id="bigAssTaht"></div></div>
    {% include 'klava.html' %}
    <script src="{{ url_for('static',filename='sormed.js') }}"></script> 
  </body>
 
</html>