<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tipist</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <style></style>
  </head>
  <body>
    <div>
      <div class="hoidla">
        <div id = "rida" class ="olekeskelPALUN">t1</div>
        <div id="valitud" class ="olekeskelPALUN">valitud</div>
      </div>
    </div>
    <div class ="container">
    <ul class="ul">
      <li><button id="v" class="prettybutton">Vasak</button></li>
      <li><button id="m" class="prettybutton">Mõlemad</button></li>
      <li><button id="p" class="prettybutton">Parem</button></li>
    </ul>
    </div>
    <a id ="tähed!"></a>
    <script src="{{ url_for('static',filename='sormed.js') }}"></script> 
  </body>
 
</html>