<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'navbar.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tipist</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    
    <style></style>
  </head>
  <body>
    <a id = "rida">t1</a>
    <a id="valitud">valitud</a>
    <ul>
      <li><button id="v">Vasak</button></li>
      <li><button id="m">Mõlemad</button></li>
      <li><button id="p">Parem</button></li>
    </ul>
    <a id ="tähed!"></a>
    <script src="{{ url_for('static',filename='sormed.js') }}"></script> 
  </body>
 
</html>